*{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/* Contacts + map */
.contacts{
	background-color: #c60b0b;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	min-height: 400px;
}
.contacts p{
	padding-top: 20px;
	font-size: 18px;
}
.contacts p:last-child{
	text-decoration: underline;
}
h2{
	font-size: 34px;
}
.maps{
	padding: 0;
}

/* Footer */
footer{
	padding: 25px 5px 15px;
}
.footer-logo p{
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	padding-left: 15px;
}
.footer-logo img{
	vertical-align: top;
}
.footer-main{
	color: #666666;
	text-align: center;
	padding-top: 12px;
	font-size: 14px;
}
.footer-contacts p:first-child{
	text-align: right;
	font-weight: 600;
	font-size: 22px;
}
.footer-contacts p:last-child{
	font-size: 14px;
	text-align: right;
	font-weight: 600;
}

@media (max-width: 991px) {
	.contacts{
		padding: 10px 0;
		min-height: 300px;
	}
	.contacts p{
		padding-top: 10px;
	}
	.footer-logo p{
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	padding-left: 10px;
 }
 .footer-main{
	color: #666666;
	text-align: center;
	padding-top: 12px;
	font-size: 12px;
 }
 .footer-contacts p:first-child{
 	text-align: right;
 	font-weight: 600;
 	font-size: 18px;
 }
 .footer-contacts p:last-child{
 	font-size: 11px;
 	text-align: right;
 }
}
