* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue.ttf');
  font-style: normal;
  font-weight: normal;
}
/* Header */
header {
  background-color: #f8be48;
  height: 150px;
  padding: 33px;
  border-bottom: 4px solid #fff;
}
header img {
  margin: 0 70px;
}
header ul {
  display: inline-block;
  background-color: #232323;
  padding: 35px 40px;
  vertical-align: top;
  margin-left: 140px;
}
header ul li {
  display: inline-block;
  color: #f8be48;
  margin-right: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
/* Main title */
.main {
  font-size: 22px;
  text-transform: uppercase;
  background-color: #fbd59c;
  font-family: 'BebasNeue', Arial, sans-serif;
  color: #505050;
  padding: 30px;
  text-align: center;
  margin-bottom: 65px;
}
/* Сatalogue */
.catalogue {
  margin: 0 auto;
  text-align: center;
  border-bottom: 5px solid #f5a72c;
  padding-bottom: 75px;
}
.catalogue .container {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 10px;
  height: 80px;
  width: 22%;
  vertical-align: middle;
}
.catalogue .container img {
  margin: 15px auto;
}
.catalogue .container li {
  display: inline-block;
  width: 36%;
}
.catalogue .container li.name {
  background-color: #e5e5e5;
  line-height: 80px;
  vertical-align: top;
  color: #3d3d3d;
  text-decoration: underline;
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  padding: 0 0 0 20px;
  width: 64%;
  text-align: left;
}
